*.a
*.so
*.o
*~
#*
bin/
build/bin/
build/include/
build/lib/
dlm/
/doc/
/idl/
/include/
lib/
log/

codebase/superdarn/src.lib/tk/idl.tar.gz
codebase/general/src.lib/stdkey.1.5/src/make_palette

*errstr.h
*hlpstr.h
*version.h
site/
docs/xml
docs/latex/
docs/html 

