*.a
*.so
*.o
*~
bin/
build/bin/
build/lib/
build/include/
dlm/
doc/
include/
lib/
log/
usr/bin/
usr/lib/
usr/include/

codebase/analysis/src.lib/cmpfit-1.2/testmpfit
codebase/general/src.lib/stdkey.1.5/src/make_palette

*errstr.h
*hlpstr.h
*version.h
