# This workflow will install RST and eventually run tests

name: Compilation Test

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        cc: ["gcc-default"]
        cdf: ["39_0"]

    name: ${{ matrix.cc }} on ${{ matrix.os }} with CDF ${{ matrix.cdf }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3

    - name: Install Ubuntu dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        sudo apt-get update
        cat build/.requirements.ubuntu | xargs sudo apt-get install
        echo "Get and install NASA CDF"
        sudo apt-get install wget
        wget https://spdf.gsfc.nasa.gov/pub/software/cdf/dist/latest/linux/cdf${{ matrix.cdf }}-dist-cdf.tar.gz
        tar -xzvf cdf${{ matrix.cdf }}-dist-cdf.tar.gz
        cd cdf${{ matrix.cdf }}-dist
        make OS=linux ENV=gnu all
        make test
        sudo make INSTALLDIR=/usr/local/cdf install

    - name: Install MacOS dependencies
      if: startsWith(matrix.os, 'mac')
      run: |
        brew update-reset
        brew install gcc@14
        xargs brew install < build/.requirements.darwin
        echo "Get and install NASA CDF"
        brew install wget
        wget https://spdf.gsfc.nasa.gov/pub/software/cdf/dist/latest/linux/cdf${{ matrix.cdf }}-dist-cdf.tar.gz
        tar -xzvf cdf${{ matrix.cdf }}-dist-cdf.tar.gz
        cd cdf${{ matrix.cdf }}-dist
        make OS=macos ENV=gnu all
        make test
        sudo make INSTALLDIR=/usr/local/cdf install

    - name: Build and make Linux code
      run: |
        export RSTPATH=$(pwd)
        source .profile.bash
        build/script/make.build
        build/script/make.code
        build/script/make.doc

    - name: Build and make MacOS code
      if: startsWith(matrix.os, 'mac')
      run: |
        which gcc
        export CC=/usr/local/bin/gcc-14
        export RSTPATH=$(pwd)
        source .profile.bash
        export OSTYPE="darwin"
        export SYSTEM="darwin"
        build/script/make.build
        build/script/make.code
        build/script/make.doc
